#calendar {
  max-width: 50%;
  border-collapse: collapse;
}
#total_of_month {
  color: red;
}
th, td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-color: #BBB;
  padding: 0;
}
#calendar td ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
#calendar td a {
  text-decoration: none;
}
#calendar td a:link li {
  padding: 5px;
}
#calendar td a:visited li {
  text-decoration: none;
  color: #BBB;
}
#calendar td a:hover li {
  color: #FFF;
  background-color: blue;
}
#calendar td a:active li {
  color: #FFF;
  background-color: red;
}
#new-pay-item, #new-pay-dollars {
  width: 320px;
}
#pay-list {
  border-collapse: collapse;
}
#sum {
  font-weight: bold;
  color: red;
}
